# Python
__pycache__/
*.py[cod]
*.egg-info/
venv/
.venv/
dist/
core/version.py

#VS code
*.code-workspace

# Output folders

# Backup data (user's personal data)
data/
backup/
log/

# OS
.DS_Store
Thumbs.db
tmp/
msg.txt
